/* ===== FOOTER ===== */
footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  margin-top: auto;
}

footer a {
  color: #bef264;
  text-decoration: none;
  margin: 0 5px;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
