/* ===== HEADER ===== */
.header {
  background: #000;
  color: #fff;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  border-bottom: 4px solid #bef264;
  font-size: 1rem;
}

.nav {
  background: #bef264;
  color: #000;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 15px 0;
  font-size: 1.05rem;
}

.nav a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  transition: 0.2s;
}

.nav a:hover {
  text-decoration: underline;
}
