/* ===== LOGIN PAGE ===== */
.login-box {
  background: #222;
  color: white;
  padding: 100px 200px;
  border-radius: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.login-row {
  display: flex;
  align-items: center;
  gap: 40px;
}

.login-form h2 {
  text-align: center;
}

.login-form p {
  text-align: center;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-image img {
  max-width: 200px;
  height: auto;
  display: block;
  margin-left: 80px;
}

.login-form button {
  background: #bef264;
  color: #000;
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.input-error {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 0.9em;
  margin: -5px 0 10px;
}
