/* ===== TERMS & PRIVACY PAGES ===== */
.terms-content,
.privacy-content {
  background: #222;
  color: white;
  border-radius: 16px;
  padding: 60px 40px;
  max-width: 900px;
  margin: 40px auto;
  line-height: 1.8;
}

.terms-box h2,
.privacy-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #bef264;
}

.terms-box h3,
.privacy-box h3 {
  margin-top: 30px;
  color: #bef264;
}

.terms-box p,
.privacy-box p {
  margin-top: 10px;
}
