/* ===== RATINGS PAGE ===== */
h2 {
  text-align: center;
  color: white;
}

.staff-container {
  background: #222;
  padding: 40px 80px;
  border-radius: 15px;
}

.staff-list {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-top: 40px;
}

.staff-card {
  background: #333;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  color: white;
}

.staff-card h3 {
  margin-bottom: 8px;
}

.staff-card .role {
  font-style: italic;
  color: #bbb;
  margin-bottom: 12px;
}

.staff-card .description {
  margin-bottom: 15px;
}

.staff-average {
  font-weight: bold;
  margin-bottom: 15px;
  color: gold;
}

.login-warning {
  color: #ff9;
}

.staff-photo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 15px auto;
  border: 3px solid #ffce55;
}

.star {
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
}

.star.active {
  color: gold;
}
